@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideIn {
  0% {
    left: -400px;
    opacity: 0%;
  }
  20% {
    left: 0px;
    opacity: 100%;
  }
  50% {
    left: 0px;
    opacity: 100%;
  }
  80% {
    left: -400px;
    opacity: 0%;
  }
  100% {
    left: -400px;
    opacity: 0%;
  }
}

* {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 1366px;
  background: #fafafa;
  margin: auto;
}

.header_container {
  position: absolute;
  height: 640px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(270.75deg, #cce0ff -18.13%, #afecd6 47.66%);
}
.separator {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  top: 639px;
  border: 2px solid #000000;
}
.separator-2 {
  position: absolute;
  width: 0px;
  height: 632px;
  left: 620px;
  top: 763px;

  border: 5px solid #000000;
}
.flash {
  position: absolute;
  width: 628.97px;
  height: 607px;
  left: -62px;
  top: 109px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(196, 196, 196, 0) 100%
  );
  opacity: 0;
  animation: fadeOut ease-in-out 2s;
  animation-delay: 0.8s;
}
.hand {
  position: absolute;
  width: 504px;
  height: 395px;
  left: 0px;
  top: 245px;
  left: -400px;
  background: url(./img/hand.png);
  opacity: 0;
  animation: slideIn ease-in-out 4s forwards;
}
.profile {
  position: absolute;
  width: 674px;
  height: 585.92px;
  left: 0px;
  top: 53.81px;
  background: url(./img/profile.png);
  opacity: 0;
  animation: fadeIn 4.5s forwards;
  animation-delay: 2.5s;
}
.bg {
  position: absolute;
  width: 1366px;
  height: 640px;
  background: url(./img/bg.png);
}
.title {
  position: absolute;
  width: 500px;
  height: 549px;
  left: 809px;
  top: 81px;
  font-family: Skranji;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 163px;
  display: flex;
  align-items: center;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill-1 {
  position: absolute;
  height: 144px;
  left: 671px;
  right: 40px;
  top: 616px;
  background: #cce0ff;
  border: 3px solid #0092b3;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  opacity: 0;
}
.skill-2 {
  position: absolute;
  height: 144px;
  left: 671px;
  right: 40px;
  top: 804px;
  background: #cce0ff;
  border: 3px solid #0092b3;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  opacity: 0;
}
.skill-3 {
  position: absolute;
  height: 144px;
  left: 671px;
  right: 40px;
  top: 983px;
  background: #cce0ff;
  border: 3px solid #0092b3;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  opacity: 0;
}
.skill-4 {
  position: absolute;
  height: 144px;
  left: 671px;
  right: 40px;
  top: 1171px;
  background: #cce0ff;
  border: 3px solid #0092b3;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  opacity: 0;
}
.skill-5 {
  position: absolute;
  height: 144px;
  left: 671px;
  right: 40px;
  top: 1359px;
  background: #cce0ff;
  border: 3px solid #0092b3;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  opacity: 0;
}
.hit {
  position: absolute;
  height: 184px;
  left: 55px;
  right: 832px;
  top: 671px;

  font-family: Carter One;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 148px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
.link-1 {
  position: absolute;
  width: 502px;
  height: 100px;
  left: 56px;
  top: 945px;
  display: flex;
  justify-content: space-between;
}
.link-2 {
  position: absolute;
  width: 502px;
  height: 100px;
  left: 56px;
  top: 1067px;
  display: flex;
  justify-content: space-between;
}
.link-3 {
  position: absolute;
  width: 502px;
  height: 100px;
  left: 56px;
  top: 1189px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 100px;
  height: 100px;
}
.text-link {
  width: 365px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
}
.footer {
  position: absolute;
  height: 39px;
  width: 1366px;
  top: 1554px;

  border: 1px solid #000000;
  box-sizing: border-box;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}

@media only screen and (max-width: 1280px) {
  .container,
  .bg,
  .footer {
    width: 1280px;
  }
  .title {
    left: 727px;
    right: -60px;
  }
  .hit {
    right: 739px;
  }
  .separator-2 {
    left: 589px;
  }
  .skill-1,
  .skill-2,
  .skill-3,
  .skill-4,
  .skill-5 {
    left: 628px;
  }
  .link-1,
  .link-2,
  .link-3 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1024px) {
  .container,
  .bg,
  .footer {
    width: 1024px;
  }
  #txt.title {
    width: 357px;
    height: 549px;
    left: 625px;
    right: 42px;
    font-size: 86px;
    line-height: 117px;
  }
  .hit {
    left: 29px;
    right: 615px;
    top: 742px;
    font-size: 72px;
    line-height: 111px;
  }
  .separator-2 {
    left: 452px;
  }
  .skill-1,
  .skill-2,
  .skill-3,
  .skill-4,
  .skill-5 {
    left: 500px;
    font-size: 48px;
    line-height: 60px;
  }
  .icon {
    width: 80px;
    height: 80px;
  }
  .link-1,
  .link-2,
  .link-3 {
    width: 329px;
    font-size: 36px;
    line-height: 49px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 768px;
    height: 1121px;
  }
  .bg {
    height: 480px;
    width: 768px;
    background: url("./img/bg_768.png");
  }
  .header_container {
    height: 480px;
    width: 768px;
  }
  .flash {
    width: 467.33px;
    height: 451px;
    left: -75px;
    top: 111px;
  }
  .hand {
    width: 316.44px;
    height: 248px;
    left: 0px;
    top: 232px;
    left: -400px;
    background: url("./img/hand_768.png");
  }
  .footer {
    height: 20.8px;
    left: 0px;
    right: 0px;
    top: 1101.1px;
    width: 768px;
    font-size: 12px;
    line-height: 15px;
  }
  .profile {
    width: 486.28px;
    height: 422.74px;
    left: 0px;
    top: 57px;
    background: url("./img/profile_768.png");
  }
  #txt.title {
    width: 250px;
    height: 427px;
    left: 470px;
    top: 32px;
    font-size: 64px;
    line-height: 87px;
  }
  .hit {
    height: 184px;
    left: 14px;
    right: 481px;
    top: 487px;
    font-size: 55px;
    line-height: 85px;
  }
  .separator {
    height: 0px;
    left: 0px;
    right: 0px;
    top: 480px;
  }
  .separator-2 {
    height: 477px;
    left: 332.51px;
    top: 573px;
    border: 2px solid #000000;
  }
  .skill-1 {
    height: 100px;
    left: 372px;
    right: 40px;
    top: 441px;
    font-size: 36px;
    line-height: 45px;
  }
  .skill-2 {
    height: 100px;
    left: 372px;
    right: 40px;
    top: 577px;
    font-size: 36px;
    line-height: 45px;
  }
  .skill-3 {
    height: 100px;
    left: 372px;
    right: 40px;
    top: 713px;
    font-size: 36px;
    line-height: 45px;
  }
  .skill-4 {
    height: 100px;
    left: 372px;
    right: 40px;
    top: 849px;
    font-size: 36px;
    line-height: 45px;
  }
  .skill-5 {
    height: 100px;
    left: 372px;
    right: 40px;
    top: 985px;
    font-size: 36px;
    line-height: 45px;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .text-link {
    font-size: 36px;
    line-height: 49px;
  }
  .link-1 {
    width: 261px;
    height: 55.15px;
    left: 16px;
    top: 674.85px;
  }
  .link-2 {
    width: 259px;
    height: 53.26px;
    left: 16px;
    top: 758.59px;
  }
  .link-3 {
    width: 236px;
    height: 54.85px;
    left: 21px;
    top: 845.15px;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    width: 414px;
    height: 896px;
  }
  .bg {
    height: 338px;
    width: 414px;
    background: url("./img/bg_414.png");
  }
  .header_container {
    height: 338px;
    width: 414px;
  }
  .flash {
    width: 242.47px;
    height: 234px;
    left: -39px;
    top: 148px;
  }
  .hand {
    width: 164.18px;
    height: 128.67px;
    left: -0.09px;
    top: 210.78px;
    left: -400px;
    background: url("./img/hand_414.png");
  }
  .footer {
    height: 11.21px;
    width: 414px;
    left: 0px;
    right: 0px;
    top: 884.89px;
    font-size: 7px;
    line-height: 8px;
  }
  .profile {
    width: 233px;
    height: 228px;
    left: 0px;
    top: 110px;
    background: url("./img/profile_414.png");
  }
  #txt.title {
    width: 160px;
    height: 146px;
    left: 230px;
    top: 154px;
    font-size: 42px;
    line-height: 57px;
  }
  .hit {
    height: 104px;
    left: 24px;
    right: 264px;
    top: 392px;
    font-size: 36px;
    line-height: 55px;
  }
  .separator {
    height: 0px;
    left: 0px;
    right: 0px;
    top: 338px;
  }
  .separator-2 {
    width: 0px;
    height: 360.01px;
    left: 181.31px;
    top: 405.99px;
    border: 2px solid #000000;
  }
  .skill-1 {
    height: 57px;
    left: 216px;
    right: 19px;
    top: 362px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-2 {
    height: 57px;
    left: 216px;
    right: 19px;
    top: 458px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-3 {
    height: 57px;
    left: 216px;
    right: 19px;
    top: 555px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-4 {
    height: 57px;
    left: 216px;
    right: 19px;
    top: 652px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-5 {
    height: 57px;
    left: 216px;
    right: 19px;
    top: 749px;
    font-size: 18px;
    line-height: 22px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .text-link {
    font-size: 18px;
    line-height: 25px;
  }
  .link-1 {
    width: 138px;
    height: 41.06px;
    left: 16px;
    top: 539.4px;
  }
  .link-2 {
    width: 138px;
    height: 41.06px;
    left: 16px;
    top: 606.33px;
  }
  .link-3 {
    width: 138px;
    height: 41.06px;
    left: 16px;
    top: 675.52px;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 360px;
    height: 740px;
  }
  .bg {
    height: 260px;
    width: 360px;
    background: url("./img/bg_360.png");
  }
  .header_container {
    height: 260px;
    width: 360px;
  }
  .flash {
    width: 218.64px;
    height: 211px;
    left: -35px;
    top: 91px;
  }
  .hand {
    width: 148.04px;
    height: 116.03px;
    left: 0.09px;
    top: 147.61px;
    left: -400px;
    background: url("./img/hand_360.png");
  }
  .footer {
    height: 11.21px;
    width: 360px;
    left: 0px;
    right: 0px;
    top: 728.89px;
    font-size: 7px;
    line-height: 8px;
  }
  .profile {
    width: 201px;
    height: 186px;
    left: 0px;
    top: 74px;
    background: url("./img/profile_360.png");
  }
  #txt.title {
    width: 140px;
    height: 146px;
    left: 196px;
    top: 101px;
    font-size: 36px;
    line-height: 49px;
  }
  .hit {
    height: 104px;
    left: 24px;
    right: 228px;
    top: 305px;
    font-size: 24px;
    line-height: 37px;
  }
  .separator {
    height: 0px;
    left: 0px;
    right: 0px;
    top: 260px;
  }
  .separator-2 {
    width: 0px;
    height: 332.01px;
    left: 161.66px;
    top: 322.99px;
    border: 2px solid #000000;
  }
  .skill-1 {
    height: 57px;
    left: 189px;
    right: 19px;
    top: 296px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-2 {
    height: 57px;
    left: 189px;
    right: 19px;
    top: 380px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-3 {
    height: 57px;
    left: 189px;
    right: 19px;
    top: 464px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-4 {
    height: 57px;
    left: 189px;
    right: 19px;
    top: 548px;
    font-size: 18px;
    line-height: 22px;
  }
  .skill-5 {
    height: 57px;
    left: 189px;
    right: 19px;
    top: 632px;
    font-size: 18px;
    line-height: 22px;
  }
  .icon {
    width: 26px;
    height: 26px;
  }
  .text-link {
    font-size: 18px;
    line-height: 25px;
  }
  .link-1 {
    width: 123px;
    height: 33.91px;
    left: 16px;
    top: 420.49px;
  }
  .link-2 {
    width: 128px;
    height: 33.91px;
    left: 16px;
    top: 475.77px;
  }
  .link-3 {
    width: 124px;
    height: 34.1px;
    left: 18px;
    top: 532.9px;
  }
}
