@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Gochi+Hand&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

:root {
  --screenWidth: 100vw;
  --screenHeight: 100vh;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
body {
  width: var(--screenWidth);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: #000000;
}

.pointer:hover {
  transform: scale(1.1);
}

.pointer:active {
  transform: scale(1);
}
